 <nav>
      <div class="site-title">Mind Speak</div>
      <ul>
        <li><a href="/">Allan's Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/new">New Blog</a></li>
      </ul>
    </nav>